$strong: #ddd3b6;
$weaker: #988782;
$weak: #2b3057;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 5vh 5vw;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  background-color: #181c31;
  color: $strong;
}

header {
  margin-left: 20px;

  h1 {
    font-size: 3rem;

    small {
      color: $weaker;
      font-size: 0.8rem;
    }
  }
}

form {

  p {
    border-bottom: solid 2px $weak;
    margin-bottom: 20px;
    padding: 20px;

    &:last-child {
      border: none;
    }
  }

  label {
    position: relative;

    i {
      font-size: 6rem !important;
      margin-left: 10px;
    }

    span {
      display: block;
      margin: 15px 0;
    }
  }

  input[type="number"] {
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    cursor: default;
    width: 200px;
  }

  input[type="file"] {
    margin-top: 10px;
    transition: all 0.4s ease-in-out;

    &:focus,
    &:active {
      box-shadow: 0 0 0 2pt $weaker;
      outline: none;
      padding: 10px;
      border-radius: 10px !important;
    }
  }
}

.uploaded {

  header {
    h1 {
      margin-bottom: 20px;
    }
  }

  input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: default;
    min-width: 450px;
  }
}
