$strong: #ddd3b6;
$weaker: #988782;
$weak: #2b3057;
$linkColor: $strong;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  background-color: #181c31;
  color: $strong;

  a {
    color: $linkColor;
  }
}

header,
main {
  margin: 5vh 5vw;
}

header {

  h1 {
    margin-left: 20px;
    font-size: 3rem;

    small {
      color: $weaker;
      font-size: 0.8rem;
    }
  }
}

.top-banner {
  color: $weaker;
  padding: 5vh 6vw;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  margin-top: -50px;

  p {
    border-bottom: solid 1px $weak;
    margin-bottom: 20px;
    padding: 20px;

    &:last-child {
      border: none;
    }
  }

  label {
    position: relative;

    i {
      font-size: 4rem !important;
      margin-left: 10px;
    }

    span {
      display: block;
      margin: 15px 0;
    }
  }

  .set-time-para {

    i {
      display: block;
      margin-bottom: 10px;
      font-size: 4rem !important;
    }
  }

  input[type="number"] {
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    cursor: default;
    width: 200px;
  }

  p.upload-cta-area {
    position: relative;

    input[type="submit"] {
      cursor: pointer;
      border: none;
      border-radius: 10px;
      padding: 35px 40px;
      background-color: #379020;
      color: #fff;
      font-family: inherit;
      font-size: 2rem;
      font-weight: bold;
      width: 450px;
      text-align: left;
    }

    span.icon {
      position: absolute;
      left: 370px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;

      i {
        font-size: 4rem;
      }
    }
  }

  input[type="file"] {
    margin-top: 10px;
    transition: all 0.4s ease-in-out;

    &:focus,
    &:active {
      box-shadow: 0 0 0 2pt $weaker;
      outline: none;
      padding: 10px;
      border-radius: 10px !important;
    }
  }

  .post-label {
    display: inline-block;
    margin-left: 15px;
  }
}

.uploaded {

  header {

    h1 {
      margin-left: -20px;
      margin-bottom: 20px;
    }
  }

  input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    cursor: default;
    min-width: 450px;
  }

  .back-para {
    margin-top: 40px;

    a {
      font-size: 1rem;

      i {
        transform: translateY(10px);
        margin-right: 7px;
        font-size: 2rem;
      }
    }
  }
}
